<h1>Edit</h1>
<form action="edit/<%= @path %>" method="post">
    <textarea name="content" placeholder="Page Content" required><%= @page %></textarea>
    <textarea class="single" name="summary" placeholder="Summary of Changes" required></textarea>
    <input type="submit" value="Commit">
</form>
