/***** RESET STYLING *****/

html, body, header, nav, section, footer,
h1, h2, h3, h4, h5, h6, p, ul, li, table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    vertical-align: baseline;
    background: transparent;
}
html { overflow-y: scroll; }  /* force scrollbar always */
input, select, textarea {
    font-size: 100%;
    font-family: "PT Mono", monospace;
}


/***** REUSABLE STYLING *****/

.inline { display: inline; }
.hidden { visibility: hidden; } /* for when you want the element to still take up space */
.really-hidden { display: none; } /* for when you want all traces of the element hidden */


/***** GLOBAL STYLING *****/

/* Meta */
html { background: #F3F3F3; color: #000000; height: 100%; }
body { height: 100%; }
article, aside, figure, footer, header, hgroup, nav, section { display: block; }

/* Headers */
h1 { margin: 20px 0 10px 0; font-size: 30px; font-weight: bold; line-height: 1.6; }
h2 { margin: 20px 0 10px 0; font-size: 24px; font-weight: bold; line-height: 1.6; }
h3 { margin: 20px 0 10px 0; font-size: 20px; font-weight: bold; }
h4 { margin: 20px 0 10px 0; font-size: 16px; font-weight: bold; }
h5 { margin: 20px 0 10px 0; font-size: 14px; font-weight: bold; }
h6 { margin: 20px 0 10px 0; font-size: 12px; font-weight: bold; }

/* Text */
p { margin: 15px 0; font-size: 14px; }
p.small { color: #636363; font-size: 10px; }
pre {
    /* FIXME: should maybe add a background and border? */
    margin: 15px 0px;
    font-family: "PT Mono", monospace;
    font-size: 12px;
}

/* Lists */
ul { font-size: 14px; line-height: 1.6; }
li { margin-left: 20px; padding-left: 5px; }

/* Tables */
table { width: 100%; border-spacing: 0; border-collapse: collapse; }
th {
    padding: 4px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    background: #969696;
    text-align: center;
}
td {
    padding: 4px;
    border-bottom: 1px solid #E6E6E6;
    background: #F3F3F3;
}
td.center { text-align: center; }

/* Forms */
input.text, textarea {
    padding: 4px;
    border: 1px solid #969696;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px #C6C6C6;
}


/***** LAYOUT STYLING *****/

/* Header */
header#main { width: 100%; height: 80px; background: #FFFFFF; border-bottom: 1px solid #000000; }
div#header { display: block; margin: auto; width: 1000px; }
h1#logo { display: block; margin: 0px; padding: 0px; float: left; width: 200px; height: 80px;
          background: url("../img/logo.png"); white-space: nowrap; overflow: hidden; text-indent: 100%; }
nav#header { display: block; margin: auto; width: 1000px; height: 100%; }
nav#header ul { display: block; float: right; height: 80px; line-height: 80px; font-size: 16px; list-style: none; }
nav#header ul li { float: left; padding: 0 20px 0 0; white-space: nowrap; }
nav#header ul li a { color: #000000; font-weight: bold; text-decoration: none; }
nav#header ul li a:hover { color: #636363; font-weight: bold; text-decoration: none; }

/* Body */
section#main { margin-left: auto; margin-right: auto; padding: 0 20px 20px 20px; width: 1000px; }
textarea#content { width: 100%; height: 400px; }
textarea#path { width: 100%; height: 20px; }
textarea#summary { width: 100%; height: 20px; }

/* Footer */
footer#main { width: 100%; height: 100%; background: #FFFFFF; border-top: 1px solid #000000; }
nav#footer { display: block; margin: auto; width: 1000px; height: 40px; text-align: center; }
nav#footer ul { display: inline-block; height: 40px; line-height: 40px; font-size: 14px; list-style: none; text-align: center; }
nav#footer ul li { display: inline-block; padding: 0 0 0 20px; white-space: nowrap; }
nav#footer ul li a { color: #000000; font-weight: bold; text-decoration: none; }
nav#footer ul li a:hover { color: #636363; font-weight: bold; text-decoration: none; }


/***** FONT-FACES *****/

/* PT Mono */
@font-face {
    font-family: "PT Mono"; font-style: normal; font-weight: 400;
    src: local("PT Mono"), local("PTMono-Regular"),
         url("woff/paratype-mono.woff") format("woff");
}

/* PT Sans */
@font-face {
    font-family: "PT Sans"; font-style: normal; font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), 
         url("woff/paratype-sans.woff") format("woff");
}
@font-face {
    font-family: "PT Sans"; font-style: normal; font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"),
         url("woff/paratype-sans-bold.woff") format("woff");
}
@font-face {
    font-family: "PT Sans"; font-style: italic; font-weight: 400;
    src: local("PT Sans Italic"), local("PTSans-Italic"),
         url("woff/paratype-sans-italic.woff") format("woff");
}
@font-face {
    font-family: "PT Sans"; font-style: italic; font-weight: 700;
    src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"),
         url("woff/paratype-sans-bold-italic.woff") format("woff");
}

/* PT Serif */
@font-face {
    font-family: "PT Serif"; font-style: normal; font-weight: 400;
    src: local("PT Serif"), local("PTSerif-Regular"),
         url("woff/paratype-serif.woff") format("woff");
}
@font-face {
  font-family: "PT Serif"; font-style: normal; font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"),
       url("woff/paratype-serif-bold.woff") format("woff");
}
@font-face {
  font-family: "PT Serif"; font-style: italic; font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"),
       url("woff/paratype-serif-italic.woff") format("woff");
}
@font-face {
  font-family: "PT Serif"; font-style: italic; font-weight: 700;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"),
       url("woff/paratype-serif-bold-italic.woff") format("woff");
}
